
/* MOBILE FIRST */

/* ========================= GLOBAL STYLES ==================================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --primaryColor: #1E6F20;
    --secondaryColor: #FECC30;
    --darkColor: #000000;
    --greyColor:#efefef;
    --lightColor: #fff;

    --textShadow: 0 0 2px #000;
    --boxShadow: ;
}

html {
    scroll-behavior: smooth;
}

button, body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}


section {
    padding: 50px 0;
    position: relative;
}

.container {
    width: 100%;
    padding: 0 20px;
}

.sectionTitle {
    width: 300px;
    border-bottom: 3px solid var(--primaryColor);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
}

/* Little square below the Section title */
.sectionTitle::after {
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--primaryColor);
    position: absolute;
    top: 87%;
    left: 50%;
    transform: rotate(45deg) translate(-50%, 50%);
    border: 3px solid var(--lightColor);
}

/* ========================== HEADER =================================== */

.header {
    width: 100%;
    height: 10vh;
    background-color: var(--lightColor);
    position: fixed;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .container .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header .container .logo img {
    height: 10vh;
}

.header .container .logo span {
    font-size: 1rem;
    color: var(--darkColor);
    margin-left: 5px;
}

.toggle-menu {
    font-size: 1rem;
}

.navbar {
    display: none;
}

.navbar ul {
    display: flex;
    align-items: center; 
}

.navbar a {
    display: inline-block;
    line-height: 10vh;
    padding: 0 15px;
    text-transform: capitalize;
    color: var(--lightColor);
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: var(--primaryColor);
}

.banner {
    min-height: 100vh;
    min-width: 100%;
    background-image: url("https://images.pexels.com/photos/1739842/pexels-photo-1739842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: top;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

.banner h1 {
    /* margin-top: 180px; */
    margin-top: 100px;
    display: inline-block;
    /* font-size: 3.5rem; */
    font-size: 2.3rem;
    color: var(--lightColor);
    text-shadow: 0 0 4px var(--darkColor);
    /* line-height: 4.2rem; */
    line-height: 3.5rem;
    font-weight: 100;
    
}

.banner h1 span {
    background-color: var(--primaryColor);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
}

.banner p {
    color: var(--lightColor);
    text-shadow: 0 0 5px var(--darkColor);
    margin-top: 20px;
    /* font-size: 1.5rem; */
    font-size: 1rem;
    /* line-height: 1.8; */
    line-height: 1.2;

}

.banner button {
    background-color: var(--primaryColor);
    border: 0;
    outline: none;
    color: var(--secondaryColor);
    padding: 8px 15px;
    font-size: 2rem;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ==== ====================== ABOUT =================================== */

.about p {
    margin-top: 20px;
}

.about span {
    display: inline-block;
    margin: 20px 0;
    font-weight: bold;
    color: var(--primaryColor);
}
.about .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    height: auto;
    overflow: auto;
}

.about .card {
    min-width: 300px;
    background-color: var(--greyColor);
    padding: 15px;
    color: #444;
    text-align: center;
    border-radius: 15px;
    /* height: auto; */
    border: 1px solid #ccc;
    transition: all 0.5s;
    margin-right: 10px;
}

/* .about .card:hover {
    width: 350px;
    margin-top: -20px;
    padding: 55px;
    height: auto;
    border: 3px solid var(--primaryColor);
} */

.about .card h3 {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.about .card p {
    font-size: 1rem;
    margin-top: px;
}

.about button {
    border: 1px solid var(--primaryColor);
    outline: none;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.about button:hover {
    background-color: var(--primaryColor);
    color: var(--lightColor);
}

/* ========================== PROGRAMS =================================== */

.programs {
    background-color: #e2e2e2;
}

.programs .cards {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px; */
    display: flex;
    justify-content: space-between;
    height: auto;
    overflow: auto;
}

.programs .card {
    min-width: 300px;
    background-color: var(--lightColor);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px #c5c5c5;
    position: relative;
    margin: 0 10px 15px;
}

.programs .card .image {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .card .image:after {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    transition: 0.3s;
}

.programs .card:nth-child(1) .image,
.programs .card:nth-child(1) .image:after  {
    background: url("/images/programs/1.jpg");
    background-repeat: no-repeat;
}

.programs .card:nth-child(2) .image,
.programs .card:nth-child(2) .image:after  {
    background: url("/images/programs/2.jpg");
    background-repeat: no-repeat;
}

.programs .card:nth-child(3) .image,
.programs .card:nth-child(3) .image:after  {
    background: url("/images/programs/3.jpg");
    background-repeat: no-repeat;
}

.programs .card:nth-child(4) .image,
.programs .card:nth-child(4) .image:after  {
    background: url("/images/programs/4.jpg");
    background-repeat: no-repeat;
}

.programs .card:nth-child(5) .image,
.programs .card:nth-child(5) .image:after  {
    background: url("/images/programs/5.jpg");
    background-repeat: no-repeat;
}

.programs .card:nth-child(6) .image,
.programs .card:nth-child(6) .image:after  {
    background: url("/images/programs/6.jpg");
    background-repeat: no-repeat;
}

.programs .card:hover .image:after {
    top: 100%;
}

.programs .card .title {
    margin-top: 15px;
    font-weight: 600;
    color: #444;
    font-size: 1.3rem;
}

.programs .card .description {
    font-size: 0.9rem;
    padding: 0px 10px 30px 10px;
    text-align: left;
    margin-top: 10px;
    font-weight: 300;
    color: #444;
    line-height: 1.4;
}

.programs .card .description span {
    color: var(--primaryColor);
    font-weight: bold;
}

.programs .card button {
    position: absolute;
    left: 50%;
    bottom: -15px;
    background-color: var(--primaryColor);
    color: var(--lightColor);
    transform: translate(-50%);
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

/* ========================== EDUCATION =================================== */

.education {
    display:none;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.education .videoPlayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.education .sectionTitle {
    color: var(--lightColor);
    text-shadow: 0 0 4px #000;
}

.education .educationContainer {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 30%;
    top: 30%;
    right: 5%;
    color: var(--lightColor);
    text-shadow: 0 0 3px #000;
    padding: 30px;
}

.education .educationContainer h3 {
    font-size: 2rem;
    font-weight: 300;
}

.education .educationContainer p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 0 30px;
}

.education .educationContainer button {
    background-color: var(--primaryColor);
    border: 0;
    color: var(--lightColor);
    outline: 0;
    font-weight: bold;
    padding: 10px 25px;
}

/* ========================== GALLERY =================================== */

.gallery .galleryContainer {
    column-count: 1;
    column-gap: 20px;
}

.gallery .image {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery .galleryContainer img {
    width: 100%;
    display: block;
    transition: transform 0.4s;
}

.gallery .galleryContainer .title {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--greyColor);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s;
}

.gallery .galleryContainer .image:hover .title {
    opacity: 1;
}

.gallery .galleryContainer .image:hover img {
    transform: scale(1.2);
}

/* ========================== JOIN =================================== */

.join {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-align: center;
}

.join .joinTitle {
    font-size: 3rem;
    font-weight: 100;
}

.join .joinTitle span {
    font-weight: 800;
}

.join p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 10px 10px 20px;
    /* width: 50%; */
    text-align: left;
}

.join a {
    text-decoration: underline;
    color: var(--secondaryColor);
}

.join button {
    padding: 7px 15px;
    margin-top: 10px;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    border-radius: 7px;
    color: #000;
    cursor: pointer;
}

.join .btn-fundraise {
    margin-right: 10px;
    background-color: var(--darkColor);
    color: var(--lightColor);
}

.join .btn-fundraise:hover {
    background-color:var(--secondaryColor);
    color: var(--primaryColor);
}

.join .btn-volunteer {
    background-color: var(--greyColor);
}

.join .btn-volunteer:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

/* ========================== FOOTER =================================== */

.footer {
    background-color:var(--darkColor);
    color: var(--greyColor);
    padding: 50px 0;
    text-align: center;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
}

.footer .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 0 0 5px 0;
}

.footer p {
    margin: 20px 0;
}

.footer .linksContainer ul {
    margin: 20px 0;
}

.footer .linksContainer a {
    text-decoration: none;
    color: var(--greyColor);
    margin-bottom: 10px;
    display: inline-block;
}

.footer .social-media {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer .social-media i {
    font-size: 2.5rem;
    margin-right: 10px;
}

.footer .newsLetterContainer img {
    height: 100px;
    margin-bottom: 11px;
}

.footer .newsLetterContainer input {
    background-color: transparent;
    border: 1px solid var(--greyColor);
    outline: none;
    border: 10px 15px;
    width: 100%;
    color: var(--greyColor);
    height: 40px;
    padding: 7px 15px;
}


